/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: #111;
    color: white;
    padding: 15px 30px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #00adb5;
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* HOME */
.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
}

/* BUTTON */
.btn {
    background: #00adb5;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

/* SKILLS */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #eee;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

/* PROJECTS */
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    margin: 15px;
    width: 250px;
}

.project-card img {
    width: 100%;
}

/* CONTACT */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    padding: 10px;
}

/* DARK MODE */
.dark {
    background: #121212;
    color: white;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }
}
